@charset "UTF-8";
body {
  background-color: pink;
}

.container {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.navigation {
  display: flex;
  min-width: 600px;
  max-width: 1000px;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
}

.aboutMe {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  display: flex;
}

.contactcard {
  display: flex;
  border: solid;
  margin-left: 20rem;
  width: 35%;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  background-color: red;
  line-height: 2px;
  margin-left: 20rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
  margin: 1rem;
}

img {
  display: flex;
  flex-direction: row;
}

.cardimg {
  background-color: blue;
  display: flex;
}
