@charset "UTF-8";
/* body on sivun taustalla näkyvä osa tumman harmaa pohja */
body {
  bottom: -8px;
  position: relative;
  background-color: #505050;
}

.container {
  max-width: 1200px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #505050;
  background-image: linear-gradient(to right, #111, #505050);
  padding-top: 30px;
}

/* Sivuvalikon menu */
.sidebar {
  height: 100%; /* 100% korkeus */
  width: 20%; /* Leveyden asetus */
  position: fixed; /* Fixed sijainti, pysyy paikoillaan scrollatessa */
  z-index: 1; /* Pysyy ylhäällä */
  top: 0; /* Pysyy ylhäällä */
  left: 0;
  background-color: #111;
  overflow-x: hidden; /* Vaakasuntainen scrollaus disabloitu */
  overflow-y: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  align-items: center;
  border-right: 0.5rem groove white;
}

.sidebartext {
  margin: 1.5rem;
  font-size: 1.5vw;
}

.sideheadline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maincontent {
  padding-left: 10px;
}

.menubutton {
  display: none;
  margin: 1.5rem;
}

#menu {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  background-color: grey;
  width: 20%;
  display: none;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.aboutMe {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 75%;
  margin-left: 2rem;
  margin-bottom: 2rem;
  background-color: grey;
}

.workexperience {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 75%;
  margin-left: 2rem;
  margin-bottom: 2rem;
  background-color: grey;
}

h1 {
  font-size: 2.5vw;
  color: lightgrey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1rem;
}

h2 {
  font-size: 3rem;
  color: lightgrey;
  margin-top: 0.1rem;
}

h3 {
  font-size: 2.5rem;
  color: white;
}

h4 {
  font-size: 2rem;
  color: white;
}

h5 {
  font-size: 1.5rem;
  color: white;
}

p {
  font-size: 1.5rem;
  margin: 1rem;
  color: white;
}

li {
  font-size: 1.5rem;
  color: white;
}

img {
  display: flex;
  flex-direction: row;
}

a {
  color: lightgrey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
  color: red;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: darkgray;
  height: 1px;
}

.round {
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.h1calibri {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2vw;
}

.h3calibri {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5vw;
}

.bottombar {
  position: relative;
  display: flex;
  bottom: 0px;
  height: 200px;
  width: 100%;
  background-color: #808080;
  justify-content: center;
  align-items: center;
  border-top: 0.5rem groove white;
  margin: 0 calc(0px - (100vw - 100%) / 2);

  /* setting padding left and right here will keep your content from spanning the entire container */
  /* avoid setting padding in shorthand elsewhere to prevent overriding*/
  padding-left: calc((100vw - 100%) / 2);
  padding-right: calc((100vw - 100%) / 2);
}

.bottomtext {
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 1px;
}

/* Näkymä kannettaville koneille */
@media only screen and (max-width: 2000px) {
  .maincontent {
    padding-left: 200px;
  }
  .fa {
    padding: 5px;
    font-size: 30px;
    width: 2rem;

    text-decoration: none;
  }
}

/* Mobiili näkymä */
@media only screen and (max-width: 1500px) {
  .sidebar {
    display: none;
  }

  .showmenu {
    display: flex;
    flex-direction: column;
    width: 12%;
    background-color: lightgrey;
    font-size: 2rem;
    padding: 2rem;
  }

  a {
    padding: 0.1rem;
    text-decoration: none;
    color: #111;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin: 2rem;
  }

  .maincontent {
    padding-left: 10px;
  }
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 2.5vw;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-github {
  background: #111;
  color: white;
}

.fa-instagram {
  background: #c63baf;
  color: white;
}

.someicons {
  position: absolute;
  bottom: 50px;
}
